@font-face {
    font-family: 'Gotham Book';
    src: url(../../fonts/gotham-book.ttf);
}

@media(min-width: 1040px) { 
body {
    font-family: 'Gotham Book', Verdana, serif;
    font-size: 11pt;
    background-color: #f2f2f2;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Verdana, serif;
}

.content-wrapper, .right-side {
    background: #f1f1f1;
    padding-bottom: 25px;
}

.content {
    padding: 35px;
}

.tm-page-title .tm-btn {
    position: absolute;
    top: 10px;
    right: -110px;
}

.content-header {
    padding: 35px 35px 0 35px;
}

.main-header>.navbar {
    min-height: 70px;
}

.main-header .logo {
    line-height: 92px;
    height: 92px;
    border-bottom: 1px solid rgba(255,255,255,0.25) !important;
}

.skin-black .main-header>.logo {
    background-color: #0cf;
    color: #fff;
    border-right-color: #fff;
}

.skin-black .main-header>.logo:hover {
    background-color: rgb(51,63,72);
    color: #fff;
}
.skin-black .sidebar-menu>li>a, .skin-black .sidebar-menu>li.active>a {
    color: #fff;
}

.skin-black .sidebar-menu>li:hover>a, .skin-black .sidebar-menu>li.active>a {
    background: rgb(51,63,72);
}

.main-header .sidebar-toggle {
    padding: 35px 40px;
}

.main-sidebar,
.left-side {
    padding-top: 90px;
    border-right: solid 1px #ECF0F5;
}

    .navbar-nav>li>a {
        padding-top: 35px;
        padding-bottom: 35px;
    }

.content-header > h1  {
    text-transform: uppercase;
}

.content-wrapper,
.right-side,
.main-footer {
    margin-left: 229px;
}

.box-header {
    padding: 25px;
}

.box {
    box-shadow: none;
    border-top: none;
}

.skin-black .sidebar-menu>li:first-child > a {
    border-top: 1px solid rgba(255,255,255,1);
}

.skin-black .sidebar-menu>li>a {
    border-left: none;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.skin-black .sidebar-menu>li:hover>a,
.skin-black .sidebar-menu>li.active>a {
    border-right: #fff;
}

.sidebar-menu>li>a {
    padding: 20px 15px;
    font-size: 1.1em;
}

.skin-black .wrapper,
.skin-black .main-sidebar,
.skin-black .left-side {
    background-color: #0cf;
}

.skin-black .main-header {
    box-shadow: none;
}

.skin-black .sidebar-menu>li>.treeview-menu {
    background-color: #fff;
}

.skin-black .sidebar-menu>li>.treeview-menu {
    margin:0;
    padding: 0;
}

.skin-black .treeview-menu>li>a {
    border-top: solid 1px rgba(200,200,200,0.1);
    padding: 10px 40px !important;
}
.skin-black .treeview-menu>li>a:hover {
    color: #000;
    background-color: rgba(100,100,100,0.1);
}

.sidebar-mini.sidebar-collapse .main-header .logo,
.sidebar-mini.sidebar-collapse .main-sidebar {
    width: 95px !important;
}

.sidebar-mini.sidebar-collapse .main-header .navbar {
    margin-left: 95px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li {
    text-align: center;
}

.sidebar-mini.sidebar-collapse .content-wrapper,
.sidebar-mini.sidebar-collapse .right-side,
.sidebar-mini.sidebar-collapse .main-footer {
    margin-left: 90px !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    right: 70px;
}

.skin-black .main-header>.navbar .navbar-custom-menu .navbar-nav>li>a,
.skin-black .main-header>.navbar .navbar-right>li>a {
    border-left: none;
}

.skin-black .sidebar a {
    color: #fff;
}

.main-footer {
    background: #f1f1f1;
    font-size: 10pt;
}

.form-group > div > label {
    width: 100%;
}

label {
    line-height: 40px;
}

.radio label {
    line-height: 20px;
}

.radio input[type="radio"] {
    height: 20px;
}

.form-horizontal {
    padding: 5px 0;
}

.form-group input {
    border-radius: 4px;
    padding: 0 15px;
    height: 40px;
}

.form-group input[type="file"] {
    padding:0;
}

.input-group-btn .btn {
    height: 40px !important;
}

.tab-pane {
    padding: 35px 0 0 0;
}

.panel {
    box-shadow: none;
    border: none;
}

.panel-footer {
    border-top: none;
    padding: 35px 20px;
}

.box-body {
    padding: 0 25px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none;
    border-bottom: solid 1px #000;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: transparent;
    border: none;
    color: #333;
}

.tm-pills > li.active > a,
.tm-pills > li.active > a.focus,
.tm-pills > li.active > a.hover,
.tm-pills > li > a,
.tm-pills > li > a:focus,
.tm-pills > li > a:hover {
    padding:20px 15px;
    line-height: 0;
    margin: 0;
    color: #ccc;
    border: none !important;
    background-color: transparent !important;
}
.tm-pills {
    background-color: #f4f4f4;
    border-bottom: none;
    padding: 10px 15px;
}

.tm-pills > li.active > a {
    color: #000;
}

.tm-stacked > li {
    padding: 40px;
}

.nav-tabs>li>a {
    border: none;
    border-radius: 0 !important;
}

.tm-btn {
    text-transform: uppercase;
    background-color: #333;
    color: #fff;
    padding: 12px 25px 11px 25px;
    letter-spacing: 2px;
    font-size: 8pt;
    border-radius: 4px;
}

.tm-btn:hover,
.tm-btn:focus{
    background-color: #000;
    color: #fc0;
}

.tm-btn-xs {
    padding: 2px 5px;
    letter-spacing: 0px;
    font-size: 7pt;
    border-radius: 2px;
}

.tm-page-title {
    position: absolute;
    left: 130px;
    top:16px;
}

.tm-page-title h1 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 14pt;
}

.sidebar-menu .treeview-menu>li>a {
    padding: 10px;
}

.treeview-menu.menu-open {
    padding: 0;
}

.tm-padding {
    padding: 35px;
}

.tm-padding-bottom {
    padding-bottom: 35px;
}

.tm-nopadding {
    padding: 0;
}

.tm-nopadding-left {
    padding-left: 0;
}

.tm-padding-left {
    padding-left: 25px;
}

.tm-nopadding-right {
    padding-right: 0;
}

.tm-nopadding-top {
    padding-top: 0;
}
.tm-nopadding-bottom {
    padding-bottom: 0;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background: #f5f5f5;
    color: #7A559A;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #000;
    color: #fff;
    border: none;
}

.pagination>li>a, .pagination>li>span {
    border: none;
    font-size: 8pt;
    padding:10px 15px;
}

.form-control {
    border-radius: 4px;
    height: 40px;
}

.box-header>.box-tools {
    top: 0;
    right: 0;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding:10px 15px 10px 0;
}

.table>tbody>tr>td:last-child,
.table>tfoot>tr>td:last-child,
.table>thead>tr>td:last-child {
    white-space: nowrap;
    width: 1%;
    text-align: right;
    padding-right: 0;
}

.request-detail-table>tbody>tr>td:last-child,
.request-detail-table>tfoot>tr>td:last-child,
.request-detail-table>thead>tr>td:last-child {
    width: auto;
}


.sidebar-menu li {
    position: relative;
}

.sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    padding:21px !important;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right),
.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    left: 94px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom-right-radius: 0;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
    top: 60px;
    width: 177px;
}

.tm-nav-btn {
    position: absolute;
    z-index: 1000;
    right: 0;
    top: 0;
}

.tm-nav-btn .tm-btn {
    background-color: #fff;
    color: #000 !important;
    border-left: solid 1px #f2f2f2;
    border-radius: 0;
    padding:14px 17px  !important;
    height: 41px;
}

.login-page, .register-page {
    background-color: #f2f2f2;
}

.login-box, .register-box {
    background-color: #fff;
    width: 320px;
    border-radius: 4px;
}

.login-logo, .register-logo {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #0cf;
    margin-bottom: 0;
    padding:30px ;
}

.login-logo a, .register-logo a {
    color:#fff;
}

.btn.btn-flat {
    background-color: #333;
    padding:11px;
    border: none;
    border-radius: 4px;
}

.login-box-body, .register-box-body {
    padding:40px 40px 80px 40px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.skin-black .main-header li.user-header {
    background-color: #333;
}

.navbar-nav>.user-menu>.dropdown-menu>.user-footer,
.navbar-nav>.user-menu>.dropdown-menu>li.user-header {
    padding: 20px;
}

.dropdown-menu {
    border: none;
}

.tm-alert {
    font-size: 10pt;
    padding: 15px;
    line-height: 10px;
}

.tm-alert p {
    padding: 10px 10px 0px 10px !important;
}

.tm-search input {
    height: 92px;
    border: none;
}

.tm-search i {
    padding-right:10px;
}

.action-menu {
    text-align: center;
}

.action-menu > a {
    border-left: solid 1px #f1f1f1 !important;
    width: 95px;
    text-align: center;
    display: inline-block;
    padding:36px 0 !important;
    text-align: center;
    color: #666 !important;
}

.action-menu a:hover {
    background: rgb(51,63,72) !important;
    color: #FEDB6E !important;
}

.action-menu.open > a {
    background: #E1E1E1 !important;
    color: #000 !important;
}

.action-menu .dropdown-menu {
    background: #E1E1E1 !important;
    border: none;
    border-radius:0;
}

.action-menu .dropdown-menu a {
    line-height: 2em;
    color: #000;
}

.action-menu .dropdown-menu a:hover {
    background-color: rgb(212,93,0);
}

.navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
    min-width: 191px;
}

.modal-content .box {
    margin-bottom: 0;
}

.modal-content .form-horizontal {
    padding:0;
}

}

.modal-content .panel-footer a {
    visibility: hidden;
}

.tm-search input:focus {
    outline: none
}

.tm-search .active {
    float: left;
}

.tm-search form {
    float: right;
}

.resource-container .table > tbody > tr > td,
.resource-container .table > tbody > tr > th,
.resource-container .table > tfoot > tr > td,
.resource-container .table > tfoot > tr > th,
.resource-container .table > thead > tr > td,
.resource-container .table > thead > tr > th {
    padding: 5px;
    vertical-align: middle;
}

.table .chbox_col {
    width: 5%;
}

.iframe_modal {
    width: 100%;
    min-height: 300px;
    border: none;
}

.tm-noborder {
    border:none;
    border-radius: 0px !important;
}

.tm-action {
    opacity: 0;
    position: absolute;
    top: -100px;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(0,0,0,0.75);
    width:100%;
    height: 100px;
    text-align: center;
    padding-top:15%;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  transition: all .25s ease;
}

.tm-action a {
    display: inline-block;
    width:41px;
    height:41px;
    padding:11px;
    background-color: #fff;
    border-radius: 50%;
}

.mailbox-attachments > li:hover > .tm-action {
    opacity: 1;
    top: 0;
}

@media (max-width: 480px) {
    .tm-search input {
        height: 50px;
        border: none;
    }

}

@media screen and (min-width: 768px) {
    #attach .modal-dialog  {width:1020px;}
}

@media print {
    body {
        font-size: 10pt;
    }


    a[href]:after {
        content: none !important;
    }

    table th,
    table td {
        border: solid 1px #000 !important;
    }

    table th:last-child,
    table td:last-child {
        display: none !important;
    }

    .show-all-col table th:last-child,
    .show-all-col table td:last-child {
        display: block !important;
    }

    table > tbody > tr > td,
    table > tbody > tr > th,
    table > tfoot > tr > td,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > thead > tr > th {
        padding:5px !important;
    }
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.form-tabs {
    background-color: #ddd;
}

.form-tabs > li > a {
    padding: 15px 15px;
}

/* ace editor */
.ace_editor {
    margin: auto;
    height: 400px;
    border-radius: 2px;
    border: solid 1px #f2f2f2;
    font-size: 14pt;
    line-height: 12pt;
}

.scrollmargin {
    height: 80px;
    text-align: center;
}
